.nav-bar {
  margin-left: 30px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-bar__button1,
.nav-bar__button2 {
  margin-right: 10px;
}
.active {
  cursor: pointer;
  opacity: 1;
}
.off {
  visibility: hidden;
}
.nav-bar__text {
  margin-left: 225px;
  margin-top: 12px;
}
.form-container {
  margin-left: 70px;
  display: flex;
  justify-content: center;
}
